:plain
	<?php
	/*
	Template Name: Default Without Title
	*/
	get_header(); ?>

#primary.content-area
	#content.site-content{:role => "main"}
		:plain
			<?php if(have_posts()) : ?>
			<?php while(have_posts()) : the_post();
			if(has_post_thumbnail()) {
				$header_image = wp_get_attachment_image_src(get_post_thumbnail_id(), 'page-image');
				$header_image_link = $header_image[0];
			} else {
				$header_image_link = get_bloginfo( 'template_directory' ) . "/images/baca-page-header.jpg";
			}
			global $post; ?>
		%section#page-title{:style => "background-image: url('<?php echo $header_image_link; ?>')"}
			%h1 <?php echo get_the_title($post->post_parent); ?>
		}
		#page-content.group
			#content-container
				<?php the_content(); ?>
			:plain
				<?php endwhile; ?>
				<?php endif; ?>
			<?php get_sidebar(); ?>

<?php get_footer(); ?>