#secondary.page-sidebar{:role => "complementary"}
	%p <span>Chairman</span><br>Tony Coe
	%p <span>Deputy Chairman</span><br>Volker Meissner
	%p <span>Marketing Executive</span><br>Markham Jackson
	%p <span>Council Members</span><br>Steve Downing<br><a href="<?php echo get_permalink( 101 ); ?>">Dick Gilbert</a><br>Neil Hannabuss<br>Capt Nigel Harris<br>Bernard J Keay<br>Geraldine Malempré<br>Capt Alan Marsh<br><a href="<?php echo get_permalink( 107 ); ?>">Capt Adam Twidell</a><br>Robert Walters<br><a href="<?php echo get_permalink( 104 ); ?>">Emma Wilkinson</a>
	%p <span>Administrator</span><br>Willem van der Pol